/*:root {
	--666: #666666;
	--777: #777777;
	--777-10: rgba(119, 119, 119, 0.1);
	--999: #999999;
	--bbb: #bbbbbb;
	--bbb-20: rgba(187, 187, 187, 0.2);
	--black: #000000;
	--black-05: rgba(0, 0, 0, 0.05);
	--black-10: rgba(0, 0, 0, 0.1);
	--black-20: rgba(0, 0, 0, 0.2);
	--black-25: rgba(0, 0, 0, 0.25);
	--black-40: rgba(0, 0, 0, 0.4);
	--disable-line: #dddddd;
	--error: #ef5350;
	--info: #03a9f4;
	--primary: #906eff;
	--primary-10: rgba(144, 110, 255, 0.1);
	--primary-20: rgba(144, 110, 255, 0.2);
	--primary-50: rgba(144, 110, 255, 0.5);
	--primary-80: rgba(144, 110, 255, 0.8);
	--success: #00bfa5;
	--transparent: rgba(255, 255, 255, 0);
	--warning: #ffa800;
	--white: #ffffff;
	--white-10: rgba(255, 255, 255, 0.1);
	--white-20: rgba(255, 255, 255, 0.2);
	--white-30: rgba(255, 255, 255, 0.3);
	--white-50: rgba(255, 255, 255, 0.5);
	--white-60: rgba(255, 255, 255, 0.6);
	--white-70: rgba(255, 255, 255, 0.7);
	--white-90: rgba(255, 255, 255, 0.9);
	--disable-icon: #e5e5e5;
}*/

$black: #000000 !default;
$blue: #03A9F4 !default;
$indigo: #003f5c !default;
$purple: #906eff !default;
$pink: #d45087 !default;
$red: #EF5350 !default;
$orange: #ff7c43 !default;
$yellow: #FFA800 !default;
$green: #00BFA5 !default;
$teal: #008fb1 !default;
$cyan: #00d9e9 !default;
$text: #777777 !default;

$primary: #5B5DFF;
$primary-10: rgba(91, 93, 255, 0.1);
$primary-20: rgba(91, 93, 255, 0.2);

$black-05: rgba(0, 0, 0, 0.05);
$black-10: rgba(0, 0, 0, 0.1);
$black-15: rgba(0, 0, 0, 0.15);
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);
$black-50: rgba(0, 0, 0, 0.5);
$black-60: rgba(0, 0, 0, 0.6);
$black-70: rgba(0, 0, 0, 0.7);
$black-80: rgba(0, 0, 0, 0.8);
$black-90: rgba(0, 0, 0, 0.9);

$info: #03a9f4;
$warning: #ffa800;
$success: $green;
$danger: $red;
$error: $red;


/* custom */
$gray-sub1: #bbbbbb;
$gray-sub2: #777777;
$disable: #dddddd;
$disable-solid: #e5e5e5;
$input-hover: #999999;
$h-color: #000000;;
$p-color: #000000;
$c-color: #000000;
$body-color: #000000;
$h-dark-color: $gray-sub2;
$p-dark-color: #ffffffB3;
$c-dark-color: #ffffff80;

$app-font: Noto Sans;
$input-height: 36px;
$input-padding: 8px 16px;
$border-radius: 8px;
$border: solid 1px #bbbbbb;
$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

$gradient-primary: linear-gradient(to right, #5B5DFF 0%, #4DD7FF 100%) !default;
$gradient-primary-vertical: linear-gradient(0deg, #4DD7FF, #5B5DFF) !default;

// $gradient-primary-hover: linear-gradient(90deg, #a68bff, #769dff) !default;
// $gradient-primary-focus: linear-gradient(90deg, #7358cc, #436acc) !default;
// $gradient-primary-active: linear-gradient(to bottom, #00000033, #00000033) !default;


// temporary variables for neb-ui select 
:root, body {
  --info: #03a9f4;
  --info-10: rgba(3, 169, 244, 0.1);
  --info-20: rgba(3, 169, 244, 0.2);
  --success: #00bfa5;
  --warning: #ffa800;
  --error: #ef5350;
  --transparent: rgba(255, 255, 255, 0);
  --black-100: #000;
  --black-80: rgba(0, 0, 0, 0.8);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-15: rgba(0, 0, 0, 0.15);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-05: rgba(0, 0, 0, 0.05);
  --white: #fff;
  --white-80: rgba(255, 255, 255, 0.8);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-20: rgba(255, 255, 255, 0.2);
  --primary: #5B5DFF !important;
}
