div.form-group {
  display: grid;
  grid-template-columns: 2fr 8fr;
  align-items: center;
  margin-bottom: .7rem;

  label.form-label {
    margin: 0;
    color: var(--black);
  }

  input.form-control {
    border-radius: 8px;
    box-shadow: 7px 5px 0px 0px var(--black);
  }
}
